<table class="table-data" id="scorers-mini-{{league.code}}">
    <tr>
        <td colspan="10">
            <div class="table-data-title">
                <img src={{league.logo}} />
                <h1>{{league.name}} top scorers</h1>
            </div>
        </td>
    </tr>
    <tr>
        <th title="Position">#</th>
        <th class="table-data-main" title="Player name">Name</th>
        <th title="Goals">Goals</th>
        <th title="Matches played">Pld</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.rank}}</td>
        <td class="table-data-main">
            <span>{{this.name}}</span>
        </td>
        <td>{{this.goals}}</td>
        <td>{{this.played}}</td>
    </tr>
    {{/each}}
</table>