<table class="component" id="table-{{league.code}}">
    <tr>
        <td colspan="10">
            <div class="component-title">
                <img src={{league.logo}} />
                <h1>{{league.name}} table</h1>
            </div>
        </td>
    </tr>
    <tr>
        <th title="Position">#</th>
        <th class="component-main-column" title="Team">Team</th>
        <th title="Points">Pts</th>
        <th title="Matches played">Pld</th>
        <th title="Matches won">W</th>
        <th title="Matches drawn">D</th>
        <th title="Matches lost">L</th>
        <th title="Goals for">F</th>
        <th title="Goals against">A</th>
        <th title="Goal differencence">+/-</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.rank}}</td>
        <td class="component-main-column">
            <img src={{this.logo}} onerror="this.style.display='none'" />
            <span>{{this.team}}</span>
        </td>
        <td>{{this.points}}</td>
        <td>{{this.played}}</td>
        <td>{{this.win}}</td>
        <td>{{this.draw}}</td>
        <td>{{this.lost}}</td>
        <td>{{this.goalsFor}}</td>
        <td>{{this.goalsAgainst}}</td>
        <td>{{this.goalDifference}}</td>
    </tr>
    {{/each}}
</table>