<table class="component" id="table-mini-{{league.code}}">
    <tr>
        <td colspan="10">
            <div class="component-title">
                <img src={{league.logo}} />
                <h1>{{league.name}} table</h1>
            </div>
        </td>
    </tr>
    <tr>
        <th title="Position">#</th>
        <th class="component-main-column" title="Team">Team</th>
        <th title="Points">Pts</th>
        <th title="Matches played">Pld</th>
        <th title="Goal differencence">+/-</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.rank}}</td>
        <td class="component-main-column">
            <span>{{this.team}}</span>
        </td>
        <td>{{this.points}}</td>
        <td>{{this.played}}</td>
        <td>{{this.goalDifference}}</td>
    </tr>
    {{/each}}
</table>