<div class="dropdown-arrow icon-down-open" id="dropdown-arrow-years"></div>
<ul class="dropdown-content" id="dropdown-content-years">
    <%= #each years %>
    <li>
        <a href="/<%= @root.requestedItem.code %>/<%= this %>" class="year"><%= this %></a>
    </li>
    <%= /each %>
</ul>