<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>

    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/app.css"> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=500, user-scalable=no" />
    <meta name="google-site-verification" content="aATT_f6PldxBk3EryS4fOnpyPi1bKXBaY65XXP8qLxU" />
    <meta name="msvalidate.01" content="4D14DCE33A7CA61F72054A4F9D6A4A04" />
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="football, dashboard football, football results, football tables, football top scorers, football top assists, champions league, europa league, bundesliga, liga, ligue 1, premier league, serie a">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dashfootball">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="http://dashboardfootball.com/images/trophy-logo2.png">

    <!-- Facebook -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://dashboardfootball.com" />
    <meta property="og:image" content="http://dashboardfootball.com/images/trophy-logo2.png" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:site_name" content="Dashboard Football" />
    <meta property="fb:app_id" content="1106832712721900" />
</head>
<body>
    <div class="wrapper">
        {{> menu }}
        <div class="content">
            {{{body}}}
        </div>
    </div>
    {{> footer }}
    <script src="/js/app.js"></script>
    {{> analytics }}
    {{> cookieConsent }}
</body>
</html>