<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">

    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="http://dashboardfootball.com/images/trophy-logo2.png">

    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Dashboard Football" />
    <meta property="og:url" content="http://dashboardfootball.com" />
    <meta property="og:image" content="http://dashboardfootball.com/images/trophy-logo2.png" />
    <meta property="fb:app_id" content="297809827273101" />

    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="http://dashboardfootball.com/images/trophy-logo2.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=500, user-scalable=no" />
    <meta name="google-site-verification" content="aATT_f6PldxBk3EryS4fOnpyPi1bKXBaY65XXP8qLxU" />
    <meta name="msvalidate.01" content="4D14DCE33A7CA61F72054A4F9D6A4A04" />

    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="wrapper">
        {{> menu }}
        <div class="content">
            {{{body}}}
        </div>
    </div>
    {{> footer }}
    <!-- inject:js -->
    <script src="/js/ec6a747d6dd75cb2e414.js"></script>
    <!-- endinject -->
</body>
</html>