<div id="league">
    <div class="header-sub">
        <div class="header-icon icon-<%= requestedItem.code %>"></div>
        <h1>
            <%= requestedItem.name %>
            <span class="dropdown-label" id="dropdown-label-years"><%= requestedYear %></span>
        </h1>
        <%- include('partials/dropdownYears')  %>
    </div>
    <br />
    <%- include('components/tournament')  %>
    <%- include('components/groups')  %>
    <br />
    <%- include('components/scorers')  %>
    <%- include('components/assists')  %>
</div>