<div id="league">
    <div class="header-sub">
        <div class="header-icon icon-<%= requestedItem.code %>"></div>
        <h1>
            <%= requestedItem.name %>
            <span class="dropdown-label" id="dropdown-label-years"><%= requestedYear %></span>
        </h1>
        <%=  dropdownYears  %>
    </div>
    <br />
    <%=  tournament  %>
    <%=  groups  %>
    <br />
    <%=  scorers  %>
    <%=  assists  %>
</div>