<div id="league">
    <div class="header-sub">
        <div class="header-icon icon-<%= requestedItem.code %>"></div>
        <h1><%= requestedItem.name %></h1>
        <%- include('partials/dropdownYears') %>
    </div>
    <br />
    <%- include('components/results') %>
    <%- include('components/table') %>
    <br />
    <%- include('components/scorers') %>
    <%- include('components/assists') %>
</div>