<div id="league">
    <div class="header-sub">
        <div class="header-icon icon-<%= requestedItem.code %>"></div>
        <h1>
            <%= requestedItem.name %>
            <%- include('partials/dropdownYears')  %>
        </h1>
    </div>
    <br />
    <%- include('components/results')  %>
    <%- include('components/table')  %>
    <br />
    <%- include('components/scorers')  %>
    <%- include('components/assists')  %>
</div>