<table class="table-data">
    <tr>
        <th title="Position">#</th>
        <th class="main-information" title="Team">Team</th>
        <th title="Points">Pts</th>
        <th title="Matches played">Pld</th>
        <th title="Matches won">W</th>
        <th title="Matches drawn">D</th>
        <th title="Matches lost">L</th>
        <th title="Goals for">F</th>
        <th title="Goals against">A</th>
        <th title="Goal differencence">+/-</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.position}}</td>
        <td class="main-information">{{this.name}}</td>
        <td>{{this.score}}</td>
        <td>{{this.played}}</td>
        <td>{{this.win}}</td>
        <td>{{this.draw}}</td>
        <td>{{this.lost}}</td>
        <td>{{this.goalsFor}}</td>
        <td>{{this.goalsAgainst}}</td>
        <td>{{this.goalDifference}}</td>
    </tr>
    {{/each}}
</table>