<div id="league">
    <div class="header-sub">
        <div class="header-icon icon-<%= requestedItem.code %>"></div>
        <h1><%= requestedItem.name %></h1>
        <%- include('../commons/dropdownYears') %>
    </div>
    <br />
    <%- include('../components/groups') %>
    <%- include('../components/tournament') %>
    <br />
    <%- include('../components/scorers') %>
    <%- include('../components/assists') %>
</div>