<div id="league">
    <div class="title">
        <div class="title-icon icon-<%= requestedItem.code %>"></div>
        <h1><%= requestedItem.name %></h1>
        <%- include('../commons/dropdownPeriods') %>
    </div>
    <% if (!tableData.length) { %>
        <h2>Sorry<br/>No data available for this period :'(</h2>
    <% } else { %>
        <br />
        <%- include('../components/results') %>
        <%- include('../components/table') %>
        <%- include('../components/scorers') %>
        <%- include('../components/assists') %>
    <% } %>
</div>