<table class="table-data">
    <tr>
        <td colspan="10">
            <div class="table-data-title">
                <img src={{league.logo}} />
                <h1>{{league.name}} table</h1>
            </div>
        </td>
    </tr>
    <tr>
        <th title="Position">#</th>
        <th class="table-data-main" title="Team">Team</th>
        <th title="Points">Pts</th>
        <th title="Matches played">Pld</th>
        <th title="Matches won">W</th>
        <th title="Matches drawn">D</th>
        <th title="Matches lost">L</th>
        <th title="Goals for">F</th>
        <th title="Goals against">A</th>
        <th title="Goal differencence">+/-</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.rank}}</td>
        <td class="table-data-main">
            <span>{{this.team}}</span>
        </td>
        <td>{{this.points}}</td>
        <td>{{this.played}}</td>
        <td>{{this.win}}</td>
        <td>{{this.draw}}</td>
        <td>{{this.lost}}</td>
        <td>{{this.goalsFor}}</td>
        <td>{{this.goalsAgainst}}</td>
        <td>{{this.goalDifference}}</td>
    </tr>
    {{/each}}
</table>