<% if (assistsData.length) { %>
    <div class="card component">
        <h3>Top Assists</h3>
        <table>
            <thead>
                <tr>
                    <th title="Position">#</th>
                    <th class="main" title="Player name">Name</th>
                    <th class="main" title="Country" colspan="2">Country</th>
                    <th class="main" title="Team" colspan="2">Team</th>
                    <th title="Assists">Assists</th>
                </tr>
            </thead>
            <tbody>
                <% assistsData.forEach((assist) => { %>
                    <tr>
                        <td><%= assist.rank %></td>
                        <td class="main main-big">
                            <span title="<%= assist.name %>">
                                <%= assist.name %>
                            </span>
                        </td>
                        <td>
                            <div class="icon-flag icon-<%= assist.flag %>" title="<%= assist.country %>"></div>
                        </td>
                        <td class="main main-small">
                            <span title="<%= assist.country %>">
                                <%= assist.country %>
                            </span>
                        </td>
                        <td>
                            <div class="icon-logo icon-<%= assist.logo %>" title="<%= assist.team %>"></div>
                        </td>
                        <td class="main main-big">
                            <span title="<%= assist.team %>">
                                <%= assist.team %>
                            </span>
                        </td>
                        <td><%= assist.assists %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
<% } %>