<% if (groupsData.length) { %>
    <div class="card component">
        <div class="component-selection">
            <% if (previousAndNextGroupUrls.previous) { %>
                <a class="icon-left-open" href="<%= previousAndNextGroupUrls.previous %>" title="Previous group"></a>
            <% } %>
            <select onchange="location = this.value;" aria-label="Groups">
                <% groupsData.forEach((group) => { %>
                    <option
                        value="/<%= requestedItem.code %>/<%= requestedPeriod %>/<%= group.name %>"
                        <%= group.name == requestedGroup ? 'selected="selected"' : '' %> >Group <%= group.name %></option>
                <% }); %>
            </select>
            <% if (previousAndNextGroupUrls.next) { %>
                <a class="icon-right-open" href="<%= previousAndNextGroupUrls.next %>" title="Next group"></a>
            <% } %>
        </div>
        <% groupsData.forEach((group, index) => { %>
            <% if (group.name === requestedGroup) { %>
                <table class="component-table">
                    <thead>
                        <tr>
                            <th class="data-min" title="Position">#</th>
                            <th class="data-min" title="Team">Team</th>
                            <th></th>
                            <th class="data-min" title="Points">Pts</th>
                            <th class="data-min" title="Matches played">Pld</th>
                            <th class="data-min" title="Matches won">W</th>
                            <th class="data-min" title="Matches drawn">D</th>
                            <th class="data-min" title="Matches lost">L</th>
                            <th class="data-min data-responsive-hide" title="Goals for">F</th>
                            <th class="data-min data-responsive-hide" title="Goals against">A</th>
                            <th class="data-min" title="Goal differencence">+/-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% group.table.forEach((row) => { %>
                            <tr>
                                <td class="data-min"><%= row.rank %></td>
                                <td class="data-min">
                                    <div class="icon-logo icon-<%= row.logo %>" title="<%= row.team %>"></div>
                                </td>
                                <td>
                                    <span title="<%= row.team %>">
                                        <%= row.team %>
                                    </span>
                                </td>
                                <td class="data-min"><%= row.points %></td>
                                <td class="data-min"><%= row.played %></td>
                                <td class="data-min"><%= row.win %></td>
                                <td class="data-min"><%= row.draw %></td>
                                <td class="data-min"><%= row.lost %></td>
                                <td class="data-min data-responsive-hide"><%= row.goalsFor %></td>
                                <td class="data-min data-responsive-hide"><%= row.goalsAgainst %></td>
                                <td class="data-min"><%= row.goalDifference %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <h3 class="component-title-surrounded">Results</h3>
                <table class="component-table">
                    <colgroup>
                        <col class="data-date data-responsive-hide" />
                        <col />
                        <col class="data-min" />
                        <col class="data-score" />
                        <col class="data-min" />
                        <col />
                    </colgroup>
                    <tbody>
                        <% var currentDate; %>
                        <% group.matches.forEach((matche) => { %>
                            <%- include('matche', {
                                currentDate: currentDate,
                                date: matche.date,
                                time: matche.time,
                                score: matche.score,
                                homeTeam: matche.homeTeam,
                                awayTeam: matche.awayTeam,
                                homeTeamLogo: matche.homeTeamLogo,
                                awayTeamLogo: matche.awayTeamLogo 
                            }); %>
                            <% if (currentDate !== matche.date) {
                                currentDate = matche.date;
                            } %>
                        <% }); %>
                    </tbody>
                </table>
            <% } %>
        <% }); %>
    </div>
<% } %>