{{#if groupsData.length}}
<div class="component-container">
    <ul class="dropdown-content" id="dropdown-content-groups">
        {{#each groupsData}}
        <li>
            <a href="#/group-{{this.group}}">Group {{this.group}}</a>
        </li>
        {{/each}}
    </ul>
    <table class="component">
        <tr>
            <td colspan="4">
                <div class="component-title">
                    <h3 id="dropdown-label-groups"></span></h3>
                    <div class="dropdown-arrow" id="dropdown-arrow-groups"></div>
                </div>
            </td>
        </tr>
        {{#each groupsData}}
            {{#each this.matches}}
            <tr class="group-content group-{{../group}}-content" style="display:none;">
                <td>{{this.date}}</td>
                <td class="component-column-main component-column-right">
                    <span title="{{this.homeTeam}}">{{this.homeTeam}}</span>
                    <div class="icon-logo icon-{{this.homeTeamLogo}}" title="{{this.homeTeam}}"></div>
                </td>
                <td class="component-column-score">{{this.score}}</td>
                <td class="component-column-main">
                    <div class="icon-logo icon-{{this.awayTeamLogo}}" title="{{this.awayTeam}}"></div>
                    <span title="{{this.awayTeam}}">{{this.awayTeam}}</span>
                </td>
            </tr>
            {{/each}}
        {{/each}}
    </table>
</div>
{{/if}}