<%/* model: { currentDate, date, score, homeTeam, awayTeam, homeTeamLogo, awayTeamLogo } */%>
<% if (currentDate !== date) { %>
    <tr class="data-responsive-show">
        <td colspan="5" class="data-align-center">
            <span class="date"><%= date %></span>
        </td>
    </tr>
<% } %>
<tr>
    <td class="data-date data-responsive-hide">
        <% if (currentDate !== date) { %>
            <span class="date"><%= date %></span>
        <% } %>
    </td>
    <td class="data-align-right">
        <span title="<%= homeTeam %>">
            <%= homeTeam %>
        </span>
    </td>
    <td class="data-min">
        <div class="icon-logo icon-<%= homeTeamLogo %>" title="<%= homeTeam %>"></div>
    </td>
    <td class="data-score">
        <%- include('score', {
            date: date,
            score: score,
            team1: homeTeam,
            team2: awayTeam
        }); %>
    </td>
    <td class="data-min">
        <div class="icon-logo icon-<%= awayTeamLogo %>" title="<%= awayTeam %>"></div>
    </td>
    <td>
        <span title="<%= awayTeam %>">
            <%= awayTeam %>
        </span>
    </td>
</tr>