{{#if resultsData.length}}
<div class="component-container">
    <table class="component component-large">
        <tr>
            <td colspan="4">
                <div class="component-title">
                    <h3>Last Results</h3>
                </div>
            </td>
        </tr>
        {{#each resultsData}}
        <tr>
            <td>{{this.date}}</td>
            <td class="component-column-main component-column-right">
                <span title="{{this.homeTeam}}">{{this.homeTeam}}</span>
                <img src="/images/logos/{{this.homeTeamLogo}}.png" title="{{this.homeTeam}}" alt="{{this.homeTeam}} logo" />
            </td>
            <td class="component-column-score">{{this.score}}</td>
            <td class="component-column-main">
                <img src="/images/logos/{{this.awayTeamLogo}}.png" title="{{this.awayTeam}}" alt="{{this.awayTeam}} logo" />
                <span title="{{this.awayTeam}}">{{this.awayTeam}}</span>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}