{{#if resultsData.length}}
<div class="component-container">
    <table class="component component-large">
        <tr>
            <td colspan="4">
                <div class="component-title">
                    <h3>Last Results</h3>
                </div>
            </td>
        </tr>
        {{#each resultsData}}
        <tr>
            <td>{{this.date}}</td>
            <td class="component-column-main component-column-right">
                <span title="{{this.homeTeam}}">{{this.homeTeam}}</span>
                <span class="icon-{{this.homeTeamLogo}}" title="{{this.homeTeam}}"></span>
            </td>
            <td class="component-column-score">{{this.score}}</td>
            <td class="component-column-main">
                <span class="icon-{{this.awayTeamLogo}}" title="{{this.awayTeam}}"></span>
                <span title="{{this.awayTeam}}">{{this.awayTeam}}</span>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}