{{#if resultsData.length}}
<div class="component-container">
    <table class="component component-large">
        <tr>
            <td colspan="4">
                <div class="component-title">
                    <h3>Last Results</h3>
                </div>
            </td>
        </tr>
        {{#each resultsData}}
        <tr>
            <td>{{this.date}}</td>
            <td class="component-main-column component-right-column">
                <span>{{this.homeTeam}}</span>
                <img src="/images/logos/{{this.homeLogo}}.png" title="{{this.homeTeam}}" alt="Logo {{this.homeTeam}}" />
            </td>
            <td>{{this.score}}</td>
            <td class="component-main-column">
                <img src="/images/logos/{{this.awayLogo}}.png" title="{{this.awayTeam}}" alt="Logo {{this.awayTeam}}" />
                <span>{{this.awayTeam}}</span>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}