<div class="component-container">
    <table class="component">
        <tr>
            <td colspan="4">
                <div class="component-title">
                    <h3 id="dropdown-label-rounds">Round 23</h3>
                    <div class="dropdown-arrow" id="dropdown-arrow-rounds"></div>
                    <ul class="dropdown-content" id="dropdown-content-rounds">
                        {{#each resultsData}}
                        <li>
                            <a href="" class="year">Round {{this.round}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </td>
        </tr>
        {{#each resultsData}}
        <!--{{this.round}}-->
            {{#each this.matches}}
            <tr>
                <td>{{this.date}}</td>
                <td class="component-column-main component-column-right">
                    <span title="{{this.homeTeam}}">{{this.homeTeam}}</span>
                    <div class="icon-logo icon-{{this.homeTeamLogo}}" title="{{this.homeTeam}}"></div>
                </td>
                <td class="component-column-score">{{this.score}}</td>
                <td class="component-column-main">
                    <div class="icon-logo icon-{{this.awayTeamLogo}}" title="{{this.awayTeam}}"></div>
                    <span title="{{this.awayTeam}}">{{this.awayTeam}}</span>
                </td>
            </tr>
            {{/each}}
        {{/each}}
    </table>
</div>