<% if (resultsData.length) { %>
    <div class="card component">
        <div class="component-selection">
            <% if (previousAndNextGroupUrls.previous) { %>
                <a class="icon-left-open" href="<%= previousAndNextGroupUrls.previous %>" title="Previous round"></a>
            <% } %>
            <select onchange="location = this.value;" aria-label="Rounds">
                <% resultsData.forEach((result) => { %>
                    <option
                        value="/<%= requestedItem.code %>/<%= requestedPeriod %>/<%= result.round %>"
                        <%= result.round == requestedRound ? 'selected="selected"' : '' %> >Round <%= result.round %></option>
                <% }); %>
            </select>
            <% if (previousAndNextGroupUrls.next) { %>
                <a class="icon-right-open" href="<%= previousAndNextGroupUrls.next %>" title="Next round"></a>
            <% } %>
        </div>
        <table class="component-table">
            <colgroup>
                <col class="data-date data-responsive-hide" />
                <col />
                <col class="data-min" />
                <col class="data-score" />
                <col class="data-min" />
                <col />
            </colgroup>
            <tbody>
                <% resultsData.forEach((result) => { %>
                    <% if (result.round == requestedRound) { %>
                        <% var currentDate; %>
                        <% result.matches.forEach((matche) => { %>
                            <%- include('matche', {
                                currentDate: currentDate,
                                date: matche.date,
                                time: matche.time,
                                score: matche.score,
                                homeTeam: matche.homeTeam,
                                awayTeam: matche.awayTeam,
                                homeTeamLogo: matche.homeTeamLogo,
                                awayTeamLogo: matche.awayTeamLogo 
                            }); %>
                            <% if (currentDate !== matche.date) {
                                currentDate = matche.date;
                            } %>
                        <% }); %>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>
<% } %>