<% if (scorersData.length) { %>
    <div class="card component">
        <h3>Top Scorer</h3>
        <table class="component-table">
            <thead>
                <tr>
                    <th title="Position">#</th>
                    <th class="main" title="Player name">Name</th>
                    <th class="main" title="Country" colspan="2">Country</th>
                    <th class="main" title="Team" colspan="2">Team</th>
                    <th title="Goals">Goals</th>
                </tr>
            </thead>
            <tbody>
                <% scorersData.forEach((scorer) => { %>
                    <tr>
                        <td><%= scorer.rank %></td>
                        <td class="main main-3">
                            <span title="<%= scorer.name %>">
                                <%= scorer.name %>
                            </span>
                        </td>
                        <td>
                            <div class="icon-flag icon-<%= scorer.flag %>" title="<%= scorer.country %>"></div>
                        </td>
                        <td class="main main-1">
                            <span title="<%= scorer.country %>">
                                <%= scorer.country %>
                            </span>
                        </td>
                        <td>
                            <div class="icon-logo icon-<%= scorer.logo %>" title="<%= scorer.team %>"></div>
                        </td>
                        <td class="main main-2">
                            <span title="<%= scorer.team %>">
                                <%= scorer.team %>
                            </span>
                        </td>
                        <td><%= scorer.goals %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
<% } %>