<% if (scorersData.length) { %>
    <div class="card component">
        <h3 class="component-title">Top Scorer</h3>
        <table class="component-table">
            <thead>
                <tr>
                    <th class="data-min" title="Position">#</th>
                    <th class="data-min" title="Player name">Name</th>
                    <th></th>
                    <th class="data-min" title="Team">Team</th>
                    <th></th>
                    <th class="data-min data-overflow-left" title="Assists">Goals</th>
                </tr>
            </thead>
            <tbody>
                <% scorersData.forEach((scorer) => { %>
                    <tr>
                        <td class="data-min"><%= scorer.rank %></td>
                        <td class="data-min">
                            <div class="icon-flag icon-<%= scorer.flag %>" title="<%= scorer.country %>"></div>
                        </td>
                        <td>
                            <span title="<%= scorer.name %>">
                                <%= scorer.name %>
                            </span>
                        </td>
                        <td class="data-min">
                            <div class="icon-logo icon-<%= scorer.logo %>" title="<%= scorer.team %>"></div>
                        </td>
                        <td>
                            <span title="<%= scorer.team %>">
                                <%= scorer.team %>
                            </span>
                        </td>
                        <td class="data-min"><%= scorer.goals %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
<% } %>