{{#if tableData.length}}
<div class="component-container">
    <table class="component component-big">
        <tr>
            <td colspan="10">
                <div class="component-title">
                    <h3>Table</h3>
                </div>
            </td>
        </tr>
        <tr>
            <th title="Position">#</th>
            <th class="component-main-column" title="Team">Team</th>
            <th title="Points">Pts</th>
            <th title="Matches played">Pld</th>
            <th title="Matches won">W</th>
            <th title="Matches drawn">D</th>
            <th title="Matches lost">L</th>
            <th title="Goals for">F</th>
            <th title="Goals against">A</th>
            <th title="Goal differencence">+/-</th>
        </tr>
        {{#each tableData}}
        <tr>
            <td>{{this.rank}}</td>
            <td class="component-main-column">
                {{#if this.logo}}
                <img src="/images/logos/{{this.logo}}.png" alt="Logo {{this.team}}" />
                {{/if}}
                <span>{{this.team}}</span>
            </td>
            <td>{{this.points}}</td>
            <td>{{this.played}}</td>
            <td>{{this.win}}</td>
            <td>{{this.draw}}</td>
            <td>{{this.lost}}</td>
            <td>{{this.goalsFor}}</td>
            <td>{{this.goalsAgainst}}</td>
            <td>{{this.goalDifference}}</td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}