<% if (tableData.length) { %>
    <div class="card component">
        <h3>Table</h3>
        <table class="component-table">
            <thead>
                <tr>
                    <th class="data-min" title="Position">#</th>
                    <th class="data-min" title="Team">Team</th>
                    <th></th>
                    <th class="data-min" title="Points">Pts</th>
                    <th class="data-min" title="Matches played">Pld</th>
                    <th class="data-min" title="Matches won">W</th>
                    <th class="data-min" title="Matches drawn">D</th>
                    <th class="data-min" title="Matches lost">L</th>
                    <th class="data-min data-hide" title="Goals for">F</th>
                    <th class="data-min data-hide" title="Goals against">A</th>
                    <th class="data-min" title="Goal differencence">+/-</th>
                </tr>
            </thead>
            <tbody>
                <% tableData.forEach((row) => { %>
                    <tr>
                        <td class="data-min"><%= row.rank %></td>
                        <td class="data-min">
                            <div class="icon-logo icon-<%= row.logo %>" title="<%= row.team %>"></div>
                        </td>
                        <td>
                            <span title="<%= row.team %>">
                                <%= row.team %>
                            </span>
                        </td>
                        <td class="data-min"><%= row.points %></td>
                        <td class="data-min"><%= row.played %></td>
                        <td class="data-min"><%= row.win %></td>
                        <td class="data-min"><%= row.draw %></td>
                        <td class="data-min"><%= row.lost %></td>
                        <td class="data-min data-hide"><%= row.goalsFor %></td>
                        <td class="data-min data-hide"><%= row.goalsAgainst %></td>
                        <td class="data-min"><%= row.goalDifference %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
<% } %>