{{#if tournamentData.length}}
<div class="component-container">
    <table class="component component-large">
        {{#each tournamentData}}
            {{#if this.matches.length}}
            <tr>
                <td colspan="3">
                    <div class="component-title">
                        <h3>{{this.name}}</h3>
                    </div>
                </td>
            </tr>
            {{/if}}
            {{#each this.matches}}
            <tr>
                <td class="component-column-main component-column-right">
                    <span class="{{#isWinner this.team1 this.winner}}is-winner{{/isWinner}}" title="{{this.team1}}">{{this.team1}}</span>
                </td>
                <td class="component-column-score">
                    {{#if this.score}}
                        {{this.score}}
                    {{else}}
                        {{this.score1}}
                        <span class="score-separation">-</span>
                        {{this.score2}}
                    {{/if}}
                </td>
                <td class="component-column-main">
                    <span class="{{#isWinner this.team2 this.winner}}is-winner{{/isWinner}}" title="{{this.team2}}">{{this.team2}}</span>
                </td>
            </tr>
            {{/each}}
        {{/each}}
    </table>
</div>
{{/if}}