<% if (tournamentData.length) { %>
    <div class="component-container">
        <table class="component">
            <% tournamentData.forEach((round) => { %>
                <% if (round.matches.length) { %>
                    <tr>
                        <td colspan="3">
                            <div class="component-title">
                                <h3><%= round.name %></h3>
                            </div>
                        </td>
                    </tr>
                <% } %>
                <% round.matches.forEach((matche) => { %>
                    <tr>
                        <td class="component-column-main component-column-right">
                            <span class="<%= matche.team1 == matche.winner ? 'is-winner' : '' %>" title="<%= matche.team1 %>">
                                <%= matche.team1 %>
                            </span>
                            <div class="icon-logo icon-<%= matche.team1Logo %>" title="<%= matche.team1 %>"></div>
                        </td>
                        <td class="component-column-score">
                            <% if (matche.score) { %>
                                <span title="Score on <%= matche.date %>">
                                    <%= matche.score %>
                                </span>
                            <% } else { %>
                                <span title="Score on <%= matche.date1 %>">
                                    <%= matche.score1 %>
                                </span>
                                <span class="score-separation">-</span>
                                <span title="Score on <%= matche.date2 %>">
                                    <%= matche.score2 %>
                                </span>
                            <% } %>
                        </td>
                        <td class="component-column-main">
                            <div class="icon-logo icon-<%= matche.team2Logo %>" title="<%= matche.team2 %>"></div>
                            <span class="<%= matche.team2 == matche.winner ? 'is-winner' : '' %>" title="<%= matche.team2 %>">
                                <%= matche.team2 %>
                            </span>
                        </td>
                    </tr>
                <% }); %>
            <% }); %>
        </table>
    </div>
<% } %>