<%= #if tournamentData.length %>
<div class="component-container">
    <table class="component">
        <%= #each tournamentData %>
            <%= #if this.matches.length %>
            <tr>
                <td colspan="3">
                    <div class="component-title">
                        <h3><%= this.name %></h3>
                    </div>
                </td>
            </tr>
            <%= /if %>
            <%= #each this.matches %>
            <tr>
                <td class="component-column-main component-column-right">
                    <span class="<%= #isWinner this.team1 this.winner %>is-winner<%= /isWinner %>" title="<%= this.team1 %>"><%= this.team1 %></span>
                    <div class="icon-logo icon-<%= this.team1Logo %>" title="<%= this.team1 %>"></div>
                </td>
                <td class="component-column-score">
                    <%= #if this.score %>
                        <%= this.score %>
                    <%= else %>
                        <%= this.score1 %>
                        <span class="score-separation">-</span>
                        <%= this.score2 %>
                    <%= /if %>
                </td>
                <td class="component-column-main">
                    <div class="icon-logo icon-<%= this.team2Logo %>" title="<%= this.team2 %>"></div>
                    <span class="<%= #isWinner this.team2 this.winner %>is-winner<%= /isWinner %>" title="<%= this.team2 %>"><%= this.team2 %></span>                
                </td>
            </tr>
            <%= /each %>
        <%= /each %>
    </table>
</div>
<%= /if %>