<% if (tournamentData.length) { %>
    <div class="card component">
        <% tournamentData.forEach((round, index) => { %>
            <% if (round.matches.length) { %>
                <h3 class="<%= index === 0 ? 'component-title' : 'component-title-surrounded' %>">
                    <%= round.name %>
                </h3>
            <% } %>
            <table class="component-table">
                <colgroup>
                    <col />
                    <col class="data-min" />
                    <col class="data-score-double" />
                    <col class="data-min" />
                    <col />
                </colgroup>
                <tbody>
                    <% var currentDate; %>
                    <% round.matches.forEach((matche) => { %>
                        <% if (currentDate !== matche.date1 + matche.date2) { %>
                        <% currentDate = matche.date1 + matche.date2;%>
                            <tr>
                                <td colspan="5" class="data-align-center">
                                    <span class="date"><%= matche.date1 %></span>
                                    <% if (matche.date2) { %>
                                        <span class="date-separator">-</span>
                                        <span class="date"><%= matche.date2 %></span>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                        <tr>
                            <td class="data-align-right">
                                <span class="<%= matche.team1 == matche.winner ? 'is-winner' : '' %>" title="<%= matche.team1 %>">
                                    <%= matche.team1 %>
                                </span>
                            </td>
                            <td class="data-min">
                                <div class="icon-logo icon-<%= matche.team1Logo %>" title="<%= matche.team1 %>"></div>
                            </td>
                            <td class="data-score-double">
                                <%- include('score', {
                                    date: matche.date1,
                                    hour: matche.hour1,
                                    score: matche.score1,
                                    team1: matche.team1,
                                    team2: matche.team2 }); %>
                                <% if (matche.date2) { %>
                                    <span>-</span>
                                    <%- include('score', {
                                        date: matche.date2,
                                        hour: matche.hour2,
                                        score: matche.score2,
                                        team1: matche.team1,
                                        team2: matche.team2 }); %>
                                <% } %>
                            </td>
                            <td class="data-min">
                                <div class="icon-logo icon-<%= matche.team2Logo %>" title="<%= matche.team2 %>"></div>
                            </td>
                            <td>
                                <span class="<%= matche.team2 == matche.winner ? 'is-winner' : '' %>" title="<%= matche.team2 %>">
                                    <%= matche.team2 %>
                                </span>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% }); %>
    </div>
<% } %>